<main class="login">
  <div class="login__container">
    <h2 class="login__title">¡Bienvenido!</h2>
    <p class="login__subtitle">Retoques Express te recibe con cariño</p>

    @if(userAndPasswordErrorMessage){
    <div class="login__error-message">
      {{ userAndPasswordErrorMessage }}
    </div>
    }

    <div class="login__field">
      <label for="userName" class="login__label">Usuario</label>
      <input type="text" class="login__input" id="userName" placeholder="Ingresa tu usuario" required
        [(ngModel)]="LoginData.userName" />
    </div>

    @if(passwordErrorMessage){
    <div class="login__error-message">
      {{ passwordErrorMessage }}
    </div>
    }

    <div class="login__field">
      <label for="password" class="login__label">Contraseña</label>
      <input type="password" class="login__input" id="password" placeholder="Ingresa tu contraseña" required
        [(ngModel)]="LoginData.password" />
    </div>

    <a routerLink="/registro" class="login__register">¿Aún no estás registrado?</a>

    <div class="login__actions">
      <button type="submit" class="login__button login__button--primary" (click)="login()">Iniciar sesión</button>
      <button type="button" class="login__button login__button--secondary" routerLink="/inicio">Ir al inicio</button>
    </div>
  </div>
</main>