<footer class="footer">
    <h2 class="footer__title">CONTACTANOS</h2>

    <mat-divider class="footer__divider"></mat-divider>

    <div class="footer__content">
        
        <div>
            <h3 class="footer__subtitle">Telefono</h3>
            <p class="footer__text">(123) 456-7890</p>
        </div>

        <div>
            <h3 class="footer__subtitle">Email</h3>
            <p class="footer__text">citas@retoquesexpress.com</p>
        </div>

        <div>
            <h3 class="footer__subtitle">Social</h3>

            <div class="footer__social-icons">
                <img class="footer__icon" routerLink="/" src="https://media-public.canva.com/KrzKM/MAGzNqKrzKM/1/tl.png">
                <img class="footer__icon" routerLink="/" src="https://media-public.canva.com/0Q87E/MAGzNm0Q87E/1/tl.png">
                <img class="footer__icon" routerLink="/" src="https://media-public.canva.com/RmypI/MAGzNvRmypI/1/tl.png">
            </div>
        </div>

    </div>
</footer>

