<header class="header">
    <img class="header__logo" routerLink="/" src="/assets/LogoExpress.png">

    <nav>
        <ul class="header__nav-list">
            <li class="header__nav-item"><a class="header__nav-link" routerLink="/inicio">Inicio</a></li>
            <li class="header__nav-item"><a class="header__nav-link" routerLink="/reservas">Reservas</a></li>
            <li class="header__nav-item header__nav-item--dropdown">
                <span class="header__nav-link">Servicios</span>
                <ul class="header__submenu">
                    <li class="header__submenu-item"><a class="header__submenu-link" routerLink="/unas">Uñas</a></li>
                    <li class="header__submenu-item"><a class="header__submenu-link"
                            routerLink="/maquillaje">Maquillaje</a></li>
                    <li class="header__submenu-item"><a class="header__submenu-link"
                            routerLink="/peluqueria">Peluqueria</a></li>
                </ul>
            </li>
            @if (isLoggedIn) {
            <li class="header__nav-item header__nav-item--user" (click)="toggleUserMenu()" #userMenuContainer>
                <div class="header__user-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                </div>
                <div class="header__user-menu" [class.header__user-menu--active]="showUserMenu">
                    <span class="header__user-name">Hola, {{ userName }}</span>
                    <hr class="header__user-divider">
                    <a class="header__user-logout" (click)="logout()">Logout</a>
                </div>
            </li>
            } @else {
            <li class="header__nav-item"><a class="header__nav-link" routerLink="/">Login</a></li>
            }
        </ul>
    </nav>
</header>