.header {
    display: flex;
    align-items: center;
    padding: 30px ;
    height: 50px;
    background-color: #571e2d;
}

.header__logo {
    width: 100px;
    margin-left: 0px;
    margin-right: auto;
}


.header__nav-list {
    list-style: none;
    display: flex;
    font-size: 20px;
    gap: 80px;
}

.header__nav-link {
    color: white;
    text-decoration: none;
}

