<!-- <section class="grid-categorias">
  <div class="card">
    <img class="img" [src]="img" />
    <h3 class="text">{{ texto }}</h3>
  </div>
  <div class="card">
    <img class="img" [src]="img" />
    <h3 class="text">{{ texto }}</h3>
  </div>
  <div class="card">
    <img class="img" [src]="img" />
    <h3 class="text">{{ texto }}</h3>
  </div>
</section> -->


<section class="grid-categorias">
  @for (bloque of bloques; track $index) {
  <div class="card">
    <img class="img" [src]="bloque.img" />
    <h3 class="text">{{ bloque.texto }}</h3>
  </div>
  }
</section>