.images {
    --img-radius: var(--mlt-sys-radius-8);
    --img-shadow: var(--mlt-sys-shadow-small);
    --img-transition: transform 0.3s ease, box-shadow 0.3s ease;

    border-radius: var(--img-radius);
    box-shadow: var(--img-shadow);
    transition: var(--img-transition);
    width: 70%;
    height: 10%;
}